Django == 6.0.2
django-environ==0.13.0
psycopg2-binary==2.9.11
django-debug-toolbar==6.2.0
Faker==40.11.1
factory_boy==3.3.3
django-extensions==4.1
ipython==9.11.0
django-crispy-forms==2.6
pillow==12.2.0

