{% extends "tasks/base.html" %}
{% load crispy_forms_tags %}

{% block content %}

<p>Форма изменения задачи: <strong>{{ task.name }}</strong></p>

{% if messages %}
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}
{% endif %}

<form method="post" action="{% url 'change_task' task_id=task.id %}">
    {% csrf_token %}
    {{ form|crispy }}
    <button type="submit" class="btn btn-primary">Изменить задачу</button>
</form>

{% endblock %}